# Ignore virtual environment directories
myenv/
.myenv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging directories
build/
dist/
*.egg-info/
OIDv4_Toolkit

# Other common files (customize as needed)
*.log

./object_detection/datasets/
